<html>
<head>
    <title>sample</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Quicksand" />
    <link rel="stylesheet" type="text/css" href="http://warfares.github.io/pretty-json/css/pretty-json.css" />

    <!-- lib -->
    <script type="text/javascript" src="http://warfares.github.io/pretty-json/libs/jquery-1.11.1.min.js" ></script>
    <script type="text/javascript" src="http://warfares.github.io/pretty-json/libs/underscore-min.js" ></script>
    <script type="text/javascript" src="http://warfares.github.io/pretty-json/libs/backbone-min.js" ></script>

    <!-- pretty JSON v 0.1  -->
    <script type="text/javascript" src="http://warfares.github.io/pretty-json/pretty-json-min.js" ></script>

</head>

<body>
<script>
    $(document).ready(function() {
	var node = new PrettyJSON.view.Node({ 
	    el: $('#result'), 
            data: {{ data|tojson }}
	});
    });
</script>
<h1>Ad campaigns</h1>
<span id="result"></span>
</body>
</html>
